body{
  background: linear-gradient(#f0f0f0,#fff9d9,#ffe9c7); 
  height: 2000px;
  font-family: "acme","Baloo Da 2";
}

nav{

  margin-top: 30px;
  margin-left: 12cm;
}

nav a{
  margin-right: 20px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: grey;
}

.box1{
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-right: 5px;
 
}

.head1{
  font-family: "Baloo Da 2";
  margin-top: 20px;
  font-size: 40px;
}

.flex{
  display: flex;
  
}